@import '../../styles/variables.scss';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: $light-white;
  border-bottom: 1px solid $gray-200;
  height: $height-header;
}

.headerDark {
  background-color: $gray-dark-bg;
  border-bottom: 1px solid $gray-primary;
}

.nav {
  width: 100%;
  max-width: $screen-lg;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
}

.logoButton {
  padding: 0.5rem;
  margin: 0 0.25rem;
  font-family: $font-hand;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.navLinksContainer {
  margin-left: auto;
  font-family: $font-title;
  font-size: 1.125rem;
  line-height: 1.75rem;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 150ms;
  height: 100vh;
  width: 100vw;
  background-color: $light-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 40;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid $gray-light;
}

.navLinksContainerShowing {
  transform: scale(1);
}

.navLinksContainerDark {
  background-color: $gray-dark-bg;
  border: $gray-dark-bg-light
}

.closeButtonItem {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.closeButton {
  padding: 0.5rem 1rem;
}

.closeButtonSvg {
  width: 1.75rem;
  height: 1.75rem;
}

.darkToggleItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openButton {
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.openButtonSvg {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: $screen-sm) {
  .navLinksContainer {
    transform: scale(1);
    flex-direction: row;
    width: auto;
    height: auto;
    border: none;
    position: static;
    background-color: transparent;
  }

  .closeButtonItem, .openButton {
    display: none;
  }
}