@import '../../styles/variables.scss';

.techIcon {
  padding: 10%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-white;
  height: 100%;
  width: 100%;
}

.techIconDark {
  box-shadow: 0 1px 3px 0 rgba(256, 256, 256, 0.1), 0 1px 2px 0 rgba(256, 256, 256, 0.06);
}

.iconContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.tooltip {
  position: absolute;
  border-radius: 0.25rem;
  background-color: $light-white;
  top: -2.5rem;
  width: max-content;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem 0.5rem;
  display: none;
  color: $gray-primary;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tooltipDark {
  box-shadow: 0 4px 6px -1px rgba(256, 256, 256, 0.1), 0 2px 4px -1px rgba(256, 256, 256, 0.06);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.techIcon:hover .tooltip {
  display: block;
}