@import '../../styles/variables.scss';

.section {
  display: flex;
  flex-direction: column;
  min-height: $height-full-nav-footer;
  background: $bg-pattern;
  margin: $height-header auto 0;
  position: relative;
  padding: 2rem 1rem 13rem;
  max-width: $screen-lg
}

.sectionDark {
  background-color: $gray-dark-bg;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.description {
  text-align: center;
}