@import '../../styles/variables.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $height-full-nav-footer;
  background: $bg-pattern;
  margin: $height-header auto 0;
  position: relative;
  padding: 2rem 1rem 13rem;
  max-width: $screen-lg
}

.sectionDark {
  background-color: $gray-dark-bg;
}

.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.description {
  margin: 0 auto 3rem;
  max-width: $screen-md;
}

.textContainer {
  margin-bottom: 2rem;
}

.filterContainer {
  margin: 0 auto;
  max-width: $screen-sm;
}

.projectList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}