@import '../../../styles/variables.scss';

.formContainer {
  background-color: $light-white;
  padding: 2rem 0.25rem;
  border-radius: 0.25rem;
  position: relative;
  top: -8rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 42rem;
  border: 1px solid currentColor;
}

.formContainerDark {
  box-shadow: 0 1px 3px 0 rgba(256, 256, 256, 0.1), 0 1px 2px 0 rgba(256, 256, 256, 0.06);
  background-color: $gray-dark-bg;
}

.anchor {
  width: 0;
  height: 0;
  position: absolute;
  top: -9rem;
}

.formTitle {
  text-align: center;
  padding: 1rem 1rem 0;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.message {
  font-size: 0.75rem;
  line-height: 1rem;
  height: 0.5rem;
  text-align: center;
  overflow-wrap: normal;
  word-break: normal;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.messageCorrect {
  color: $green-500;
  height: 1rem;
}

.messageError {
  color: $red-500;
  height: 1.5rem;
}

.form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  margin: 0.75rem auto 0.5rem;
}

.submitButton {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  background: $gradient-blue;
  margin-bottom: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  margin: 0 auto;
}

.submitButton:hover {
  background: $gradient-blue-hover;
}

.submitButtonDark {
  box-shadow: 0 4px 6px -1px rgba(256, 256, 256, 0.1), 0 2px 4px -1px rgba(256, 256, 256, 0.06);

}

.submitButtonInactive {
  opacity: 0.5;
  cursor: default;
}

.submitButtonInactive:hover {
  background: $gradient-blue;
}