@import '../../styles/variables.scss';

.section {
  min-height: $height-full-nav;
  margin-top: 5rem;
  position: relative;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-pattern;
}

.anchor {
  width: 0;
  height: 0;
  position: absolute;
  top: -5rem;
}

.container {
  height: 100%;
  max-width: $screen-sm;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  margin: 0 auto 1rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  text-align: left;
  transition: opacity 1000ms;
  opacity: 0;
  font-weight: inherit;
}

.titleHand {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.subTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  text-align: left;
  transition: opacity 1000ms 500ms;
  opacity: 0;
}

.text {
  margin-bottom: 1.5rem;
  text-align: justify;
  transition: opacity 1000ms 1000ms;
  opacity: 0;
  line-height: 1.4rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
}

.buttonPrimary {
  margin-bottom: 0.75rem;
  transition: opacity 1000ms 1250ms;
  opacity: 0;
}

.buttonSecondary {
  margin-bottom: 0.75rem;
  transition: opacity 1000ms 1500ms;
  opacity: 0;
}

.showing {
  opacity: 1;
}

@media screen and (min-width: $screen-sm) {
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
  }

  .titleHand {
    font-size: 3rem;
    line-height: 1;
  }

  .subTitle {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  .text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }

  .buttonContainer {
    flex-direction: row;
  }

  .buttonPrimary, .buttonSecondary {
    margin-right: 1rem;
  }
}