@import '../../styles/variables.scss';

.asidePlaceholder {
  display: none;
}

.section {
  min-height: $height-full-nav-footer;
  max-width: $screen-md;
  margin: 5rem auto 0;
  position: relative;
  padding: 2rem 1rem 13rem;
  display: flex;
  flex-direction: column;
}

.sectionDark {
  background-color: $gray-dark-bg;
}

.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.imageContainer {
  margin: 0 auto 1.5rem;
  padding: min(3%, 0.8rem);
  display: flex;
  align-items: center;
  max-width: $screen-sm;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.imageContainerDark {
  background-color: $light-white;
}

.textContainer {
  position: relative;
  margin-bottom: 2rem;
}

.anchor {
  position: absolute;
  top: -6rem;
  width: 0;
  height: 0;
}

@media screen and (min-width: $screen-md) {
  .asidePlaceholder {
    width: $width-side-nav;
    display: block;
    height: 1rem;
    float: left;
  }
}