@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-SemiBold.ttf');
  font-weight: 600;
}