@import '../../../styles/variables.scss';

.label {
  margin-bottom: 1rem;
  border-bottom: 1px solid $gray-med;
}

.labelValid {
  border-bottom: 1px solid $green-500;
  color: $green-500;
}

.labelInvalid {
  border-bottom: 1px solid $red-500;
  color: $red-500;
}

.labelInvalidContent:focus-within {
  border-bottom: 1px solid $red-500;
  color: $red-500;
}

.labelText {
  height: 1rem;
  user-select: none;
  transition: all 500ms;
  font-size: 0.75rem;
  line-height: 1rem;
}

.labelTextContent {
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  top: 1.25rem;
  left: 0.5rem;
  cursor: text;
}

.input {
  padding: 0.25rem;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  color: $gray-primary;
  background-color: transparent;
}

.inputDark {
  color: white;
}

.label:focus-within > .labelTextContent {
  top: 0;
  left: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
}