@import '../../styles/variables.scss';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 30;
  background-color: $light-white;
  height: $height-header;
  border-bottom: 1px solid $gray-200;
}

.headerDark {
  background-color: $gray-dark-bg;
  border-bottom: 1px solid $gray-primary;
}

.nav {
  max-width: $screen-lg;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
}

.logoLink {
  padding: 0.5rem;
  margin: 0 0.25rem;
  font-family: $font-hand;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.darkToggleContainer {
  margin-left: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

.showDarkToggle {
  display: flex;
}

.button {
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.buttonSvg {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: $screen-md) {
  .darkToggleContainer {
    display: flex;
  }

  .button {
    display: none;
  }
}