@import '../../../styles/variables.scss';

.linkItem {
  display: flex;
  border-bottom: 1px solid $gray-200;
}

.listItemDark {
  border-bottom: 1px solid $gray-primary;
}

.link {
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.link:hover {
  color: $blue-hover;
}