@import './variables.scss';

.button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.buttonDark {
  box-shadow: 0 4px 6px -1px rgba(256, 256, 256, 0.1), 0 2px 4px -1px rgba(256, 256, 256, 0.06);
}

.buttonPrimary {
  @extend .button;
  background: $gradient-blue
}

.buttonPrimary:hover {
  background: $gradient-blue-hover
}

.buttonSecondary {
  @extend .button;
  background: $gradient-gray
}

.buttonSecondary:hover {
  background: $gradient-gray-hover
}