$screen-sm: 40em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 80em;
$screen-2xl: 96em;

$light-white: white;

$gray-200: rgb(229, 231, 235);
$gray-light: #fbfbfb;
$gray-med: #b4b4b4;
$gray-primary: #3a3a3a;
$gray-dark-bg: #1a1a1a;
$gray-dark-bg-light: #232323;

$blue-hover: #4aa6f3;
$blue-link: #006baa;
$blue-link-dark: #5fb9ee;
$blue-grad-i: #006baa;
$blue-grad-f: #59a7de;

$green-500: rgb(16, 185, 129);
$red-500: rgb(239, 68, 68);

$gradient-blue: linear-gradient(to bottom right, #006baa, #59a7de);
$gradient-blue-hover: linear-gradient(to top left, #006baa, #59a7de);

$bs-image: inset 0 0 2rem 2rem rgba(256, 256, 256, 1);
$bs-image-dark: inset 0 0 2rem 2rem rgba(26, 26, 26, 1);
$bs-dark: 0 1px 3px 0 rgba(256, 256, 256, 0.1), 0 1px 2px 0 rgba(256, 256, 256, 0.06);
$bs-md-dark: 0 4px 6px -1px rgba(256, 256, 256, 0.1), 0 2px 4px -1px rgba(256, 256, 256, 0.06);
$bs-lg-dark: 0 10px 15px -3px rgba(256, 256, 256, 0.1), 0 4px 6px -2px rgba(256, 256, 256, 0.06);
$bs-xl-dark: 0 20px 25px -5px rgba(256, 256, 256, 0.1), 0 10px 10px -5px rgba(256, 256, 256, 0.06);

$height-header: 5rem;
$height-footer: 4rem;
$height-main-project: 30rem;
$width-main-project: 22rem;
$width-side-nav: 15rem;
$height-full-nav: calc(100vh - $height-header);
$height-full-nav-footer: calc(100vh - $height-header - $height-footer);

$font-body: 'Open Sans', sans-serif;
$font-hand: 'Satisfy', sans-serif;
$font-title: 'Quicksand', sans-serif;
