@import '../../styles/variables.scss';

.toggler {
  padding: 0.5rem 1rem;
}

.container {
  height: 1.75rem;
  width: 3rem;
  padding: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid $gray-200;
}

.containerDark {
  justify-content: flex-end;
  border: 1 solid $gray-primary;
}

.svg {
  width: 1.25rem;
  height: 1.25rem;
}